{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification du Cursus {{cursus.intitule}}</h1>
	<form method='POST' action='/gestionEnseignement/modifierCursus'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="hidden" name="idCursus" value="{{cursus.id}}">
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}
