{% extends "base.html" %}
{% load static %}
{% block content %}

	<script src="/static/onglets.js" type="text/javascript" > </script>

	<h1>Ajout d'un nouvel Etudiant (étape 3/3)</h1>
	
	<h2>Informations concernant le BAC :</h2>
	
	<form method='POST' action='/gestionEtudiant/ajouterEtudiant'>
		{% csrf_token %}
		{% for info in infosPOST %}
			<input type="hidden" name="{{info.key}}" value="{{info.value}}">
		{% endfor %}
		
		<p><label for="id_BAC">BAC :</label> <select id="id_BAC" name="BAC">
		<option value="" selected="selected">---------</option>
		{% for BAC in BACs %}
			<option value="{{BAC.id}}">{{BAC}}</option>
		{% endfor %}
		</select></p>
           
		<p><label for="id_mentionBAC">Mention du BAC :</label> <select id="id_mentionBAC" name="mentionBAC">
		<option value="" selected="selected">---------</option>
		{% for mention in mentions %}
			<option value="{{mention.id}}">{{mention}}</option>
		{% endfor %}
		</select></p>
		
		<input type="hidden" value="" name="anneeBAC">
		<p><label for="anneeDuBAC">Année du BAC :</label> <select id="anneeDuBAC" name="anneeDuBAC">
		<option value="" selected="selected">---------</option>
		{% for annee in anneesUniversitaires %}
			<option value="{{annee}}">{{annee}}</option>
		{% endfor %}
		</select></p>
		  
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>


<!-- On ajoute un lien qui permet à l'utilisateur d'ajouter un Bac s'il en existe pas 
    la fonction "popitup" se trouve dans le onglets.js elle permet d'ouvrir une nouvelle fenetre navigateur avec url souhaité-->
    <p>Le BAC souhaité n'est pas disponible : <a href="#" onclick="return popitup('/gestionEnseignement/BAC')" ><input type=button value="Ajouter un BAC"></a>
	<br><i> Penser à recharger la page une fois le BAC ajouté</i>
	</p>
	
{% endblock %}