{% extends "base.html" %}
{% load static %}
{% block content %}
	
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
	
	<h1>Retour des décisions du pré-jury et du jury</h1>
	
	<h2>Veuillez choisir le semestre concerné</h2>
	
	{% if not listeSemestre %}
	
		<p>Aucun semestre en attente de validation.</p>
	
	{% else %}
	
		<form action="/gestionJury/reporterResultat" method="POST">
		
			{% csrf_token %}
			
			<select name="semestreChoisi">
				
				{% for semestre in listeSemestre %}
					<option value="{{ semestre.id }}">{{ semestre }}</option>
				{% endfor %}
				
			</select>
			
			<input type="submit" value="Valider" />
			
		</form>
		
	{% endif %}
	
{% endblock %}