{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="textGen">
	<h1>Generation d'un document jury</h1>
	
	{% if semestreChoisi %}
		<p>Votre document jury pour le {{ semestre.semestre.semestre }} de {{ semestre.anneeUniversitaire.anneeUniversitaire }} est prêt</p>
		{% if 'Docs_Ageil' in fichier %}
			<p>Vous pouvez le consulter en vous rendant dans le dossier Docs_Ageil présent sur le Bureau</p>
			<p>{{ fichier }}</p>
			<p><i>Remarque : Vous pouvez aussi trouver le fichier dans le dossier excel/fichierGenerer/jury de l'application.</i></p>
		{% endif %}
	{% else %}
		<h2>Veuillez choisir un semestre annualise</h2>
		<form action="#" method="POST">
		{% csrf_token %}
		<select name="semestreChoisi" required>
		{% for sa in semestreAnnualises %}
			{% if sa.semestre.semestre != 'S1' %}
				<option value="{{ sa.id }}">{{ sa }}</option>
			{% endif %}
		{% endfor %}
		</select>
		
		<h2>Sélectionnez la date à faire apparaître sur le document :</h2>
		
		<input name="dateChoisie" type="date"/><br/>
		
		<h2>Trier le document selon la moyenne de :</h2>
		<p><i>Ce critère de trie sera priorisé si 2 étudiants ont le même résultat calculé.</i></p>
		
		<select name="trie">
			<option value="trieSN">Moyenne dernier semestre</option>
			<option value="trieAnnee">Moyenne des 2 semestre</option>
		</select>
		
		<br/><br/>

		<input type="submit" value="Valider"/>
		</form>
		
</div><!-- fin div id="textGen"-->
	{% endif %}
	
{% endblock %}
