{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<h1>Report des décisions du pré-jury et du jury pour l'étudiant {{ assoc.etudiant }}</h1>
	
	<form method='POST' action='/gestionJury/modifierDevenir/{{assoc.id}}'>
		{% csrf_token %}
		
		<select name="devenir">
				
			{% for dev in listeDevenirPossible %}
				<option value="{{ dev.id }}" {% if devenirParDefaut == dev.code %}selected{% endif %}>{{ dev.code }}</option>
			{% endfor %}
			
		</select><br><br>
		
		<input type="submit" value="Valider"><br><br>
		<input type="reset" value="Annuler">
	</form>
	
	<form method='POST' action='/gestionJury/reporterResultat'>
		{% csrf_token %}
		
		<input type="hidden" name="semestreChoisi" value="{{ assoc.semestre.id }}">
		<input type="submit" value="Retour">
	</form>
	
{% endblock %}