/***********************Parametres généraux********************************/
	html{
		width:1904px;
		/*width: 1500px;*/
	}
    body{
        margin: 0px;
        font-family: inherit;
    }
    /*Polices de caractères.*/
    p, li, th, td, label{
        font-family: 'Arial';/*'Nunito';*/
    }
    h1, h2, fieldset, footer{
        font-family: 'Arial';
    }
    /*Couleur body */
    body{
        background-color: #eaeae9;
    }

	/********* Gestions des titres ***************/
	h1{
		color: #031a29;
	  text-align: center;
		font-size: 30px;
	}
	h2{
		margin-right: 10px;
		margin-bottom: 5px;
		font-size: 20px;
	}
	h3{
		font-size: 15px;
	}
	#sous-titre-accueil{
		text-align: center;
	}
	/**** Pour les titres trop long *****/
	.longTitre{
		margin-left: -15%;
	}
    .titre{
        position:absolute;
        margin-left: 300px;

    }

    #img_accueil{
        display: inline-block;
        margin-top: 100px;
        margin-left: 300px;
    }

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; 
	}
	a{
        color: #fff;
		    text-decoration:none;
	}
/***********************Navigation********************************/
				/***************menu déroulant ***************/
    /* menu déroulant */
	#menu-deroulant, #menu-deroulant ul {
		padding: 0;
		margin: 0;
		list-style: none;
		background-color: #b51621;
    height: 50px;
	}
	#menu-deroulant > li{
		margin-left: 50px;
		padding-top: 6px;
	}
	#menu-deroulant {
	/* on centre le menu dans la page */
		text-align: center;
	}
	#menu-deroulant li {
	/* on place les liens du menu horizontalement */
		display: inline-block;
		background-color: #b51621;
	}
	#menu-deroulant ul li {
	/* on enlève ce comportement pour les liens du sous menu */
		display: inherit;
	}
	#menu-deroulant a {
		display: block;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}
	#menu-deroulant ul{
		position: absolute;
	/* on cache les sous menus complètement sur la gauche */
		left: -999em;
		text-align: left;
		z-index: 1000;
	}

	#menu-deroulant li:hover ul {
	/* Au survol des li du menu on replace les sous menus */
		left: auto;
	}
	#menu-deroulant li a:hover{
		background-color : #860912;
		border-radius: 3px;
	}



								/*************** sous menu ***************/
/** on gère les sous menu des étudiants, à adapter avec les onglets */
	#sousmenu {
      margin-top: 130px;
      margin-left: -260px;
	  margin-bottom:0px;
      position:absolute;
      /*display: inline-flex;
      text-align: center;
	  list-style: none;
	  min-width:1500px;*/
	}
	/* on gère les sous menu des modèles + génération doc */
    #sousmenu_gestion{
      margin-top: 130px;
      margin-left: -320px;
      position:absolute;
      /*display: inline-flex;
      text-align: center;
      list-style: none;
	  min-width:1500px;*/
    }
	#sousmenu_doc{
      margin-top: 130px;
      margin-left: -560px;
      position:absolute;
      /*display: inline-flex;
      text-align: center;
      list-style: none;
	  min-width:1500px;*/
    }
	
	.sm {
      display: inline-flex;
	  min-width:1500px;
      text-align: center;
      list-style: none;
	}

		/* on les places tous au même point*/
	#sousmenu li, #sousmenu_gestion li, #sousmenu_doc li{
      display: inline-block;
      list-style: none;
      color: #fff;
      background-color: #b51621;
      position: relative;
      float: left;
      margin : 10px 10px 50px 20px;
      border-radius: 2px;
      box-shadow: 0px 0px 3px 3px #b51621;
      z-index: 1;
    }


    /* On rajoute un espacement entre la barre de navigation  et le contenue du site. */
    #espacement{
        padding-top : 60px;
    }

	/* pour centrer un peu le contenu de la page */
    #contentBG{
        background-color: white;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -10px;
		    margin-bottom: auto;
        padding-bottom: 25%;
        box-shadow: 0px 0px 5px 0px grey;
    }

	#contentText{
		display: inline-block;
		width: auto;
		margin : 15%;
		margin-top: 5%;
		list-style-position: inside;
	}
	#textGen{
		margin-left:150px;
	}
	#h1Long{
		margin-left:-250px;
	}


	/************************ FORMULAIRE ******************************/
	form{
		padding: 10px;
		margin: auto;
		display: inline-block;
	}

	input, select{
		border: 1px solid #999;
		border-radius: 2px;
		font-size:15px;
		margin-right:15px;
	}
	
	#buttonEtu{
		margin-left:50px;
	}

	label{
		display: inline-block;
		vertical-align: top;
		width: 200px;
	}

	/* MODELE DE FORMATION : TREEVIEW */
	#listeSemestre li{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#listeUE li{
		margin-left: 50px;
	}

	#filtreCasP{
		display: inline-block;
		float: right;
	}

	#filtreCasPpart1{
		display: block;
		float: left;
		margin-right: 50px;
	}

	#filtreCasPpart2{
		display: block;
		float: right;
	}

	#filtre{
		display: block;
		float: left;
		margin-bottom: 1%;
		margin-right: 70px;
	}
	#tri{
		display: flex;
		float: none;
		margin-top: 22%;
	}

	.boutonListeEtu{
		width: 75px;
		height: auto;
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom:20px;
		padding: 5px 5px 5px 5px;
	}
	/******************************* Tableaux ************************/
	/* Tableau d'affichage */
	#tableau{
		width: 85%;
		overflow: scroll;
	  margin-left: -5%;
	}
	#tableau_accueil{
		width: 550px;
	  margin-left: 30%;
	}

	.listeTable {
	  border-collapse: collapse;
		text-align: center;
		margin: auto;
		overflow-y: scroll;
	}

	.listeTable tr td, .listeTable tr th{
	  border: 1px solid black;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 150px;
	}

	.listeMoyenne {
	  border-collapse: collapse;
		text-align: center;
		margin: auto;
		overflow-y: scroll;
	}
	.blockScrollable{
		width: 900px;
		overflow: scroll;
	}

	.listeMoyenne tr td, .listeMoyenne tr th{
	  border: 1px solid black;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 150px;
	}

	.tableauMoyenne {
	  border-collapse: collapse;
		text-align: center;
		margin: auto;
		overflow-y: scroll;
	}

	.tableauMoyenne tr td, .listeMoyenne tr th{
	  border: 1px solid black;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	/***** Coloration du tableau des notes des étudiants. ******/
	.celluleEnBleu{
		background-color: #FC9646;
	}
	.celluleEnVert{
		background-color: #C5D9F1;
	}
	.celluleEnOrange{
		background-color: #D8E4BC;
	}

	/*********************** ONGLETS  (consulter un etudiant : etudiant.html)**********************************/
	/* on affiche pas les onglets tout le temps, le fichier onglets.js retire le display:none quand on est sur la bonne page */
	#onglets{
				display: none;
			}

	/* On traite tous les onglets, par exemple on ajoute une ombre */
	#onglets li{
		position: relative;
		float: left;
		list-style: none;
		padding: 2px 5px 7px;
		margin-right: 5px;
		cursor: pointer;
		background-color: #eaeae9;
		color: #031a29;
		z-index: 1;
		border-radius: 5px;
		box-shadow: 0px 0px 2px 2px #577082;
	}


	/* On traite l'onglets actif, par exemple on retire l'ombre pour donner l'effet qu'il est appuyé */
	#onglets .actif{
		border-bottom: none;
		font-weight: bold;
		z-index: 10;
		box-shadow: 0px 0px 3px 3px #d1d1d0;
		z-index: 1;
	}

	/***************** On traite le contenu des onglets ****************/
	#contentonglets{

		clear: both;
		position: relative;
		padding: 10px;
		padding-right: 15%;
		z-index: 5;
		background-color: #eaeae9;
		color: #031a29;
		overflow: hidden;
		border-radius: 15px;
		margin-left: 4%;
	}
	/********** FORMATION ********/
  #gestionModeles{
		clear:both;
		padding: 20px;
		background-color: #eaeae9;
		color: #031a29;
		border-radius: 15px;
		margin-left: 105px;
  }
  /********** CURSUS ********/
  #gestionModelesCursus{
		clear:both;
		padding: 20px;
		background-color: #eaeae9;
		color: #031a29;
		border-radius: 15px;
		margin-left: 145px;
  }
  /****** BAC ********/
  #gestionModelesBac{
		clear:both;
		padding: 20px;
		background-color: #eaeae9;
		color: #031a29;
		border-radius: 15px;
		margin-left: 150px;
  }

/******Scroll up*******/

    #img_scrollup{
        width: 75px;
        height: 75px;
        margin-bottom: 3%;
        margin-right: 2%;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    scroll{
        opacity: 0.3;
    }

/***********************FOOTER********************************/

    footer{
      background-color: #3b3b3b;
      padding : 10px 20px 10px 20px;
      text-align: center;
      color : #fff;
      box-shadow: 2px -1px 5px 0px black;
      width: auto;
      left:0px;
      right:0px;
      position: fixed;
      bottom:0;
      z-index: 10;
    }
